<!doctype html>
<html>

<head>
    <title>DownloadExcel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css">
    <link rel="stylesheet" href="../style/bootstrap/css/bootstrap.min.css">
    <script src="../js/jquery/jquery.min.js"></script>
    <script src="../style/bootstrap/js/bootstrap.min.js"></script>
</head>

<body background="#C0C0C0">
    <div class="container">
        <div class="d-flex justify-content-center bg-dark text-white h-25 d-inline-block">
            <h1>Bienvenido al portal de EfevServ</h1>
        </div>
        <br>
        <div class="d-flex flex-row ">
            <div class="p-4   text-black w-100 d-inline-block">
                <h3>Gestion Documentos</h3>
            </div>
            <div class="p-4  text-black h-25 d-inline-block">
                <!--<a href="http://localhost:8081/efevserv/gestion-excel/decargarExcel" class="btn btn-info btn-lg" id="downloadExcel">Descargar XLS 
                    <i class="fa fa-download" aria-hidden="true"></i></a>-->
                    <button href="http://localhost:8081/efevserv/gestion-excel/decargarExcel" class="btn btn-info btn-lg" id="downloadExcel">Descargar XLS 
                        <i class="fa fa-download" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    <script src="../js/donwloadExcelFunctions.js"></script>
</body>

</html>