<!doctype html>
<html>

<head>
  <title>Clientes</title>
  <meta charset="utf-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <script src="js/jquery/jquery.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
</head>

<body background="#C0C0C0">
  <div class="container">
    <div class="d-flex justify-content-center bg-dark text-white h-25 d-inline-block">
      <h1>Bienvenido al portal de EfevServ</h1>
    </div>
    <br>
    <div class="d-flex flex-row ">
      <div class="p-4   text-black w-100 d-inline-block">
        <h3>Gestión Clientes</h3>
      </div>
      <div class="p-4  text-black h-25 d-inline-block">
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modalAgregar">Agregar <i
            class="fa-solid fa-plus"></i></button>
      </div>
    </div>
    <div class="border">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">ACTIVO</th>
            <th scope="col">FECHA CREACION</th>
          </tr>
        </thead>
        <tbody id="tableRows">
        </tbody>
      </table>
    </div>
    <br>


  </div>
  <!-- Modal -->
  <div id="modalAgregar" class="modal" role="dialog">
    <div class="modal-dialog">
      <!-- Contenido del modal -->
      <div class="modal-content">
        <div class="modal-header">
          <div class="text-center">
            <h4>Datos Cliente</h4>
          </div>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">

          <form id="formularioCliente">
            <div class="form-group">
              <div class="form-group has-validation">
                <label for="nombreCliente">Nombre*</label>
                <input type="text" class="form-control" id="nombreCliente" placeholder="Ingresa nombre">
                <span id="nombreError"></span>
              </div>
              <div class="form-group has-validation">
                <label for="apellidoPaternoCliente">Apellido Paterno*</label>
                <input type="text" class="form-control" id="apellidoPaternoCliente"
                  placeholder="Ingresa apellido paterno">
                <span id="apellidoPaternoError"></span>
              </div>
              <div class="form-group has-validation">
                <label for="apellidoMaternoCliente">Apellido Materno*</label>
                <input type="text" class="form-control" id="apellidoMaternoCliente"
                  placeholder="Ingresa apellido materno">
                <span id="apellidoMaternoError"></span>
              </div>
              <div class="form-group has-validation">
                <div class="form-group">
                  <label for="clienteActivo">Seleccionar El status Cliente</label>
                  <select class="form-control" id="clienteActivo" name="clienteActivo">
                    <option value="true">Activo</option>
                    <option value="false">Inactivo</option>
                  </select>
                </div>
              </div>
              <div class="d-flex modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar X</button>
                <button type="submit" id="submitbtnCliente" class=" btn btn-primary">Guardar</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--<script src="../js/validadorCliente.js"></script>-->
  <div id="modalEditar" class="modal" role="dialog">
  <div class="modal-dialog">
    <!-- Contenido del modal -->
    <div class="modal-content">
      <div class="modal-header">
        <div class="text-center">
          <h4>Datos Cliente</h4>
        </div>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">

        <form id="formularioClienteEditar">
          <div class="form-group">
            <!--<label for="exampleInputEmail1">id</label>-->
            <input type="text" class="form-control" id="clienteIdEditar" style="display: none;" >
          </div>
          <div class="form-group">
            <div class="form-group has-validation">
              <label for="nombreCliente">Nombre*</label>
              <input type="text" class="form-control" id="nombreClienteEditar" placeholder="Ingresa nombre">
              <span id="nombreError"></span>
            </div>
            <div class="form-group has-validation">
              <div class="form-group">
                <label for="clienteActivo">Seleccionar El status Cliente</label>
                <select class="form-control" id="clienteActivoEditar" name="clienteActivo">
                  <option value="true">Activo</option>
                  <option value="false">Inactivo</option>
                </select>
              </div>
            </div>
            <div class="d-flex modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar X</button>
              <button type="submit" id="submitbtnCliente" class=" btn btn-primary">Guardar</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
  <script src="js/customerFunctions.js"></script>
</body>

</html>